body {
  margin: 0;
}

h1 {
  justify-content: center;
  align-items: center;
  width: 500px;
  height: auto;
  text-align: center;
  color: chartreuse;
  background-color: darkblue;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
  height: auto;
  background-color: black;
  text-decoration: none;
}

#todo {
  border-radius: 3px;
}

#addToList {
  border-radius: 3px;
  width: auto;
  height: auto;
}

#sort {
  border-radius: 3px;
  height: auto;
  width: auto;
}

.selected {
  text-decoration: line-through;
}

div {
  display: flex;
}
.section {
  position: relative;
  width: 500px;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
  height: auto;
  background-color: blueviolet;
  color: chartreuse;
}

.todolist {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  align-items: center;
  .checked {
    width: auto;
    height: auto;
    margin: 5px;
    position: absolute;
    left: 0;
  }

  .takeoff {
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    margin: 5px;
    background-color: blueviolet;

    border: none;
  }
}
